* {
  margin: 0px;
}

body {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f8;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;

}

.container {
  display: flex;
  background-color: #22d906;
  width: 620px;
  height: 877px;
  border-style: groove;
  border-color: black;
}

.topo {
  display: flex;
  background-color: #303846;
  width: 620px;
  height: 152px;
  align-items: center;
  flex direction: row;
  gap: 1rem;
}

.foto {
  display: flex;
  background-image: url("/img/minhafoto.PNG");
  background-size: 100%;
  background-color: #261668;
  width: 176px;
  height: inherit;
}

.resto {
  display: flex;
  width: 430px;
  height: inherit;
  flex-direction: column;
  justify-content: center;
}

.textoh6 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
  font-style: normal;
  color: #979ba2;
}