* {
  margin: 0px;
}

body {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f8;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;

}

.container {
  display: flex;
  width: 620px;
  height: 877px;
  border-style: groove;
  border-color: black;
  flex-wrap: wrap;
}

.topo {
  display: flex;
  background-color: #303846;
  width: 620px;
  height: 152px;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.foto {
  display: flex;
  background-image: url("img/minhafoto.PNG");
  background-size: 100%;
  background-color: #261668;
  width: 176px;
  height: inherit;
}

.resto {
  display: flex;
  width: 430px;
  height: inherit;
  flex-direction: column;
  justify-content: center;
}

.textoh6 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
  font-style: normal;
  color: #979ba2;
}

.titulo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #303846;
  font-family: 'Courier New', Courier, monospace;

}

.baixo {
  padding: 1rem;
  display: flex;
  width: 410px;
  height: 693px;
  flex-direction: column;

}

.curso {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.local {
  font-size: 1rem;
  font-weight: bold;
  color: #b5b5b5;
  font-family: 'Courier New', Courier, monospace;
}

.perfil {
  font-size: 0.9rem;
  color: #1e1d1d;
  font-family: 'Courier New', Courier, monospace;

}

.esquerdo {
  padding: 1rem;
  display: flex;
  width: 146px;
  height: 693px;
  flex-direction: column;
  background-color: #30384632;
}